# Visual Studio
.vs/
**/bin/
**/obj/
**/publish/

# Node.js
**/node_modules/
**/dist/
**/build/

# Database
*.db
*.sqlite

# Logs
**/logs/
*.log

# User settings
**/Properties/launchSettings.json
**/appsettings.Development.json

# Environment
.env